services:
  app:
    environment:
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
  nginx:
    volumes:
      - ./docker/nginx/default.local.conf:/etc/nginx/conf.d/default.conf
